body {
    background: url("../images/background.png");
    background-size: cover;
}

.characters {
    float: left;
    width: 15%;
    margin: 10px;
    border-style: solid;
    border-width: 20px;
    border-color: green;
}

/*luke's height*/
#luke {
    height: 113px;
}

/*leia's height*/
#leia {
    height: 113px;
}

.character-name {
    position: absolute;
    color: white;
    top: 4%;
  }

  /*Names for each of the characters*/
  #luke-name {
    left: 5%;
  }

  #leia-name {
    left: 25%;
  }

  #darth-vader-name {
    left: 45%;
  }

  #emperor-palpatine-name {
    left: 64%;
  }