/*Audiowide font reference: "Audiowide", cusrsive*/

body {
    background: url("../images/background.png");
    background-size: cover;
}

/*borders for styling purporses*/
.border1 {
  border-width: 5px;
  border-style: solid;
  border-color: red;
}

.border2 {
  border-width: 5px;
  border-style: solid;
  border-color: purple;
}

.text-font {
  font-family: "Audiowide", cursive;
  color: white;
}

#title {
  float: right;
  margin-right: 50px;
  color: white;
  font-size: 50px;
}

section {
  margin-left: 10px;
}

#choice {
  font-size: 25px;
}

.picturestyle {
  float: left;
  width: 12%;
  height: 121.266px;
  margin-right: 1%;
  border-style: solid;
  border-width: 20px;
  border-color: green;
}

#character-names {
  position: relative;
  bottom: 159px;
}

.names {
  float: left;
  position: relative;
  left: 4%;
  margin-right: 10%;
  color: white;
}

#character-health {
  position: relative;
  bottom: 35px;
}

.health {
  position: relative;
  float: left;
  left: 6%;
  margin-right: 14%;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#battle-arena {
  position: absolute;
  top: 33%;
}

.enemies,
.defender {
  margin-top: 4px;
  position: relative;
  height: 169px;
}

.enemy-names,
.defender-name {
  position: relative;
  bottom: 167px;
}

.enemy-health,
.defender-health {
  position: relative;
  bottom: 42px;
}