/*Audiowide font reference: "Audiowide", cusrsive*/

body {
    background: url("../images/background.png");
    background-size: cover;
}

#title {
  float: right;
  margin-right: 50px;
  color: white;
  font-size: 50px;
}

.text-font {
  font-family: "Audiowide", cursive;
  color: white;
}

.picstyle {
  float: left;
  margin: 10px 10px;
  width: 10%;
  border-style: solid;
  border-color: green;
  border-width: 20px;
}

.character-name {
  position: relative;
  top: 0em;
  left: 0%;
  color: white;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.controls {
    margin-left: 10px;
  }

.enemies {
    height: 200px;
  }